.button{
    transition: var(--default-transition);
    padding: var(--dimension-m) var(--dimension-xl);
    border-radius: var(--border-radius-l);
    border: var(--border-m) solid var(--gray-ultra-light-color);
    letter-spacing: 0.5px;
    font-weight: 700;
    flex: 1;

    &--icon{
        flex: 0 0 auto;
        padding: var(--dimension-m);
        flex-shrink: 0;
        border-radius: 50%;
        border: none;
        transition: var(--default-transition);
        color: var(--primary-color);
        fill: var(--primary-color);
        
        svg {
            width: 32px;
            height: 32px;
        }

        &:hover{
            box-shadow: inherit;
        }
    }
    
    &--primary{
        color: var(--white-color);
        background-color: var(--primary-color);
        max-height: fit-content;

        svg {
            fill: var(--white-color);
        }
        
        &:hover{
            background-color: var(--primary-dark-color);
            box-shadow: var(--component-shadow);
        }
    }

    &--secondary{
        color: var(--white-color);
        background-color: var(--secondary-color);
        max-height: fit-content;

        &:hover{
            background-color: var(--secondary-dark-color);
            box-shadow: var(--component-shadow);
        }
    }
    
    &--danger{
        color: var(--white-color);
        background-color: var(--danger-color);
        max-height: fit-content;

        &:hover{
            background-color: var(--danger-dark-color);
            box-shadow: var(--component-shadow);
        }
    }
    
    &--success{
        color: var(--white-color);
        background-color: var(--success-color);
        max-height: fit-content;
        
        &:hover{
            background-color: var(--success-dark-color);
            box-shadow: var(--component-shadow);
        }
    }
    
    &--active {
        color: var(--white-color);
        background-color: var(--primary-color);
        box-shadow: var(--active-shadow);
        max-height: fit-content;

        &:hover{
            background-color: var(--primary-dark-color);
            box-shadow: var(--component-shadow);
        }

        svg {
            fill: var(--white-color);
        }
    }
}

