input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="file"],
textarea,
select,
.input-label--file {
    width: 100%;
    padding: var(--dimension-s) var(--dimension-m);
    border: var(--default-border);
    border-radius: var(--border-radius-m);
    background-color: var(--white-color);
    transition: var(--default-transition);
    outline: none;

    &::placeholder {
        color: color-mix(in srgb, var(--black-color), transparent 50%);
    }

    &:focus, &:hover {
        border-color: var(--primary-color);
        box-shadow: 0 0 0 4px var(--primary-background);
    }

    &:disabled {
        background-color: rgba(var(--black-rgb), 0.05);
        cursor: not-allowed;
    }
}

input[type="number"] {
    min-width: 50px;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    -moz-appearance: textfield;
}

.input-section__wrapper{
    display: flex;
    flex-direction: row;
    gap: var(--dimension-xl);

    & > * {
        flex: 1;
        
        &:has(.math-input) {
            flex: 3;
        }
    }
}

.form-actions {
    display: flex;
    flex-wrap: wrap;
    gap: var(--dimension-m);

    & .button {
        flex: 1;
        min-width: 120px;
    }
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: var(--dimension-xs);
    padding:  var(--dimension-xs);
    
    &__label{
        font-family: var(--font-heading), monospace;
        font-weight: 700;
        font-size: 0.75rem;
        color: var(--black-color);
        margin-left: var(--dimension-s);
    }
    
    input{
        height: 100%;
    }
}

.input-label--file {
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    gap: var(--dimension-m);
    flex: 1;
    color: var(--gray-color);
    font-weight: 700;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 1px;
    line-height: 0;
    
    input[type="file"] {
        width: 0;
        height: 0;
        visibility: hidden;
        opacity: 0;
    }
}