.math-input {
    display: flex;
    flex-direction: column;
    gap: var(--dimension-xs);
    padding: var(--dimension-xs);
    width: 100%;
    min-width: 320px;

    &__wrapper {
        border-radius: var(--border-radius-m);
        border: var(--default-border);
        background-color: var(--white-color);
        transition: var(--default-transition);
        overflow: hidden;
        display: flex;
        flex-shrink: 0;

        &:focus-within {
            border-color: var(--primary-color);
            box-shadow: 0 0 0 4px var(--primary-background);
        }

        button:not(:first-child) {
            border-left: var(--default-border);
            border-radius: 0;
        }
    }

    &__field {
        width: 100%;
        padding: var(--dimension-s) var(--dimension-m);
        font-size: 1.1rem;
        outline: none;
        border: none;
        --caret-color: var(--primary-color);
        --selection-background: var(--primary-background);
        --selection-color: var(--black-color);
        --keyboard-zindex: 10000;
        background: transparent;
        cursor: text;
    }
    
    &__copy-btn, .button--ocr {
        flex: unset;
        padding: 0 var(--dimension-l);
        flex-shrink: 0;
    }
}