.modal--image-upload {
    .modal__body {
        align-items: center;
    }
}

.modal__content.modal--crop-image {
    height: 80dvh;
    width: 60dvw;
    
    .modal__body {
        flex-direction: row;
        overflow-y: hidden;
    }
    
    .cropper {
        &__container {
            flex: 1;
            border-radius: var(--border-radius-xl);
            display: flex;

            .cropper-container{
                flex: 1;
            }
        }
        
        &__controls {
            display: flex;
            flex-direction: column;
            gap: var(--dimension-l);

            button {
                border: none;
                border-radius: 50%;
            }
        }
    }
    
    .modal__footer{
        button {
            border-radius: var(--border-radius-l);
        }
    }
}