.multi-switch {
    display: flex;
    background-color: rgba(var(--black-rgb), 0.05);
    padding: 4px; 
    border-radius: var(--border-radius-m);
    border: 1px solid rgba(var(--black-rgb), 0.1);
    width: fit-content;
    gap: var(--dimension-xs);
    
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: var(--dimension-xs);
    }
    
    &__title {
        font-size: 0.75rem;
        color: var(--black-color);
        margin-left: var(--dimension-s);
    }

    &__option {
        transition: var(--default-transition);
        flex: 1;
        padding: var(--dimension-s) var(--dimension-m);
        border: none;
        border-radius: var(--border-radius-s);
        background: transparent;
        color: var(--black-color);
        font-weight: 700;
        font-size: 0.9rem;
        cursor: pointer;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        letter-spacing: 0;

        &:hover:not(&--selected) {
            background-color: rgba(var(--black-rgb), 0.05);
        }

        &--selected {
            background-color: var(--white-color);
            color: var(--primary-color);
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            letter-spacing: 1px;
        }
    }
}