@using NumCalc.Shared.Enums.Interpolation
@using NumCalc.UI.Shared.Components

@if (Mode is InterpolationInputMode.Function)
{
    <div class="interpolation-input__function">
        <Tooltip>
            <Content>
                <MathInput Label="f(x)" @ref="_mathInput" />
            </Content>
            <Hint>Function f(x) to interpolate. The polynomial is built through sample points generated from this expression.</Hint>
        </Tooltip>
    </div>
}

<NodeTable ShowY="@(Mode is InterpolationInputMode.RawData)" @ref="_nodeTable" />
