@using NumCalc.Shared.Enums.Interpolation
@using NumCalc.UI.Shared.Components

@if (Mode is InterpolationInputMode.Function)
{
    <div class="interpolation-input__function">
        <MathInput Label="f(x)" @ref="_mathInput" />
    </div>
}

<NodeTable ShowY="@(Mode is InterpolationInputMode.RawData)" @ref="_nodeTable" />
