@using NumCalc.UI.Shared.Components
@inherits LayoutComponentBase

<div class="main-container" @onmousedown="@OnGlobalMouseDown">
    <Header></Header>
    <HamburgerMenu/>

    <main>
        @Body
    </main>
</div>
    
<GlobalLoader />
<ToastContainer />
