@if (IsVisible)
{
    <div class="modal__backdrop" @onclick="HandleBackdropClick">
        <div class="modal__content @CssClass" tabindex="-1" role="dialog" aria-modal="true" @onclick:stopPropagation="true">
            <div class="modal__header">
                <div class="modal-header__text">
                    @if (!string.IsNullOrEmpty(Title))
                    {
                        <div class="modal__title">@Title</div>
                    }
                    @if (!string.IsNullOrEmpty(Subtitle))
                    {
                        <div class="modal__subtitle">@Subtitle</div>
                    }
                </div>
                <div class="modal-header__actions">
                    <button class="modal-header__button" @onclick="Close">&#10005;</button>
                </div>
            </div>
            <div class="modal__body">
                @BodyContent
            </div>
            <div class="modal__footer">
                @FooterContent
            </div>
        </div>
    </div>
}
