@typeparam TItem

<ul class="comparison-result__list">
    @foreach (var item in Items ?? [])
    {
        <li class="comparison-result__item @(IsBest(item) ? "marked" : "")">
            @ItemTemplate(item)
        </li>
    }
</ul>