@using NumCalc.UI.Shared.Enums

<header>
    <div class="header__logo" @onclick="OnHeaderLogoClick">
        <SvgIcon Name="logos-logo-full" />
    </div>

    <div class="header__actions">
        @switch (CurrentNavItem)
        {
            case NavigationItem.Roots:
                <RootFindingTopicInfo/>
                break;
            case NavigationItem.EquationSystems:
                <EquationSystemsTopicInfo/>
                break;
            case NavigationItem.Interpolation:
                <InterpolationTopicInfo/>
                break;
            case NavigationItem.Differentiation:
                <DifferentiationTopicInfo/>
                break;
            case NavigationItem.Integration:
                <IntegrationTopicInfo/>
                break;
            case NavigationItem.Optimization:
                <OptimizationTopicInfo/>
                break;
            case NavigationItem.Ode:
                <OdeTopicInfo/>
                break;
        }
        
        <LanguageSwitch />
        
        @if (AuthStateService.IsAuthenticated)
        {
            <span class="header__credentials">@AuthStateService.Username</span>
     
            <button class="button button--icon" @onclick="Logout">
                <SvgIcon Name="logout" />
            </button>
        }
        else
        {
            <button class="button button--icon" @onclick="Login">
                <SvgIcon Name="login" />
            </button>
        }
    </div>
</header>

