<header>
    <div class="header__icon" @onclick="OnHeaderLogoClick">
        <SvgIcon Name="calculator"/>
        <span class="brand-icon"></span> NumCalc
    </div>

    <div class="header__actions">
        @switch (CurrentPath)
        {
            case "/root-finding":
                <RootFindingTopicInfo />
                break;
            case "/equation-systems":
                <EquationSystemsTopicInfo />
                break;
            case "/interpolation":
                <InterpolationTopicInfo />
                break;
            case "/differentiation":
                <DifferentiationTopicInfo />
                break;
            case "/integration":
                <IntegrationTopicInfo />
                break;
            case "/optimization":
                <OptimizationTopicInfo />
                break;
            case "/ode":
                <OdeTopicInfo />
                break;
        }
    </div>
</header>

