@using NumCalc.UI.Shared.Enums

<header>
    <div class="header__icon" @onclick="OnHeaderLogoClick">
        <SvgIcon Name="calculator"/>
        <span class="brand-icon"></span> NumCalc
    </div>

    <div class="header__actions">
        @switch (CurrentNavItem)
        {
            case NavigationItem.Roots:
                <RootFindingTopicInfo />
                break;
            case NavigationItem.EquationSystems:
                <EquationSystemsTopicInfo />
                break;
            case NavigationItem.Interpolation:
                <InterpolationTopicInfo />
                break;
            case NavigationItem.Differentiation:
                <DifferentiationTopicInfo />
                break;
            case NavigationItem.Integration:
                <IntegrationTopicInfo />
                break;
            case NavigationItem.Optimization:
                <OptimizationTopicInfo />
                break;
            case NavigationItem.Ode:
                <OdeTopicInfo />
                break;
        }
        
        <div class="language-switch">
            <button class="language-switch__button @(CultureService.CurrentCulture == "en" ? "active" : "")"
                    @onclick='() => SetCulture("en")'>EN</button>
            <button class="language-switch__button @(CultureService.CurrentCulture == "uk" ? "active" : "")"
                    @onclick='() => SetCulture("uk")'>UK</button>
        </div>
    </div>
</header>

