<header>
    <div class="header__icon">
        @* TODO : add brand icon *@
        <span class="brand-icon"></span> NumCalc
    </div>        
    
    @* TODO : maybe add some contacts or tutorials *@
</header>

