@using NumCalc.UI.Shared.Enums

<header>
    <div class="header__icon" @onclick="OnHeaderLogoClick">
        <SvgIcon Name="calculator"/>
        <span class="brand-icon"></span> NumCalc
    </div>

    <div class="header__actions">
        @switch (CurrentNavItem)
        {
            case NavigationItem.Roots:
                <RootFindingTopicInfo />
                break;
            case NavigationItem.EquationSystems:
                <EquationSystemsTopicInfo />
                break;
            case NavigationItem.Interpolation:
                <InterpolationTopicInfo />
                break;
            case NavigationItem.Differentiation:
                <DifferentiationTopicInfo />
                break;
            case NavigationItem.Integration:
                <IntegrationTopicInfo />
                break;
            case NavigationItem.Optimization:
                <OptimizationTopicInfo />
                break;
            case NavigationItem.Ode:
                <OdeTopicInfo />
                break;
        }
    </div>
</header>

