<header>
    <div class="header__icon">
        <SvgIcon Name="calculator"/>
        <span class="brand-icon"></span> NumCalc
    </div>        
    
    @* TODO : maybe add some contacts or tutorials *@
</header>

