<div class="math-input">
    @if (!string.IsNullOrEmpty(Label))
    {
        <label class="input-group__label math-input__label">@Label</label>
    }

    <div class="math-input__wrapper">
        <math-field @ref="_mathFieldRef" class="math-input__field" placeholder="@Placeholder"></math-field>
        
        <button type="button" class="button math-input__copy-btn" @onclick="CopyToClipboard" title="@Localizer["CopyLaTeX"]">
            <SvgIcon Name="copy"/>
        </button>
        
        <OcrInput OnInputContentRecognize="SetLatexValue" />
    </div>
</div>
