@using NumCalc.UI.Shared.Components.Modals
<button class="button button--ocr" @onclick="ShowImageUploadModal">
    <SvgIcon Name="image"/>
</button>

<BaseModal @ref="_uploadImageModal"
           Subtitle="UploadImageWithYourEquation"
           CssClass="modal--image-upload">
    <BodyContent>
        <CustomInputFile IconName="image"
                         OnFileUpload="UploadImage"
                         Text="UploadImage"/>
        
        <Divider Text="@Localizer["Or"]"/>
        
        <CustomInputFile IconName="camera"
                         OnFileUpload="UploadImage"
                         Text="TakePhoto"
                         CanTakePhoto="true"/>
    </BodyContent>
</BaseModal>

<CropImageModal @ref="_cropImageModal"
                ImageBase64="@_uploadedImageBase64"
                OnSubmit="HandleImageSubmit"/>