<button class="button button--ocr" @onclick="ShowImageUploadModal">
    <SvgIcon Name="image"/>
</button>

<BaseModal @ref="_uploadImageModal" @bind-IsVisible="_isImageUploading"
           Subtitle="UploadImageWithYourEquation"
           CssClass="modal--image-upload">
    <BodyContent>
        <CustomInputFile IconName="image"
                         OnFileUpload="UploadImage"
                         Text="UploadImage"/>
        
        <strong>@Localizer["Or"]</strong>
        
        <CustomInputFile IconName="camera"
                         OnFileUpload="UploadImage"
                         Text="TakePhoto"
                         CanTakePhoto="true"/>
    </BodyContent>
</BaseModal>
