<div class="toast-container">
    @foreach (var toast in _toasts)
    {
        <div class="toast-message @GetToastClass(toast)" @onclick="() => RemoveToast(toast)">
            
            <div class="toast-icon">
                @GetIcon(toast)
            </div>

            <div class="toast-content">
                <div class="toast-title">@toast.Title</div>
                <div class="toast-body">@toast.Message</div>
            </div>

            <div class="toast-close">×</div>
        </div>
    }
</div>
