<button class="topic-info__trigger" @onclick="Open">@Localizer["AboutTheTopic"]</button>

<BaseModal @ref="_modal" Title="@Title" Subtitle="@Subtitle" CssClass="topic-info__modal">
    <BodyContent>
        <div class="topic-info__body" id="@_bodyId">
            @ChildContent
        </div>
    </BodyContent>
</BaseModal>
