<div class="integration-input__function">
    <MathInput Label="f(x)" @ref="_mathInput" />
</div>

<div class="input-section__wrapper">
    <Tooltip>
        <Content>
            <div class="input-group">
                <label class="input-group__label">a (lower bound)</label>
                <input type="number" step="any" class="input-group__input" @bind="_lowerBound" />
            </div>
        </Content>
        <Hint>Left endpoint a of the integration interval [a, b].</Hint>
    </Tooltip>
    <Tooltip>
        <Content>
            <div class="input-group">
                <label class="input-group__label">b (upper bound)</label>
                <input type="number" step="any" class="input-group__input" @bind="_upperBound" />
            </div>
        </Content>
        <Hint>Right endpoint b of the integration interval [a, b].</Hint>
    </Tooltip>
    <Tooltip>
        <Content>
            <div class="input-group">
                <label class="input-group__label">Number of intervals (n)</label>
                <input type="number" min="1" max="10000" class="input-group__input" @bind="_intervals" />
            </div>
        </Content>
        <Hint>Number of sub-intervals n. More intervals improve accuracy at the cost of computation time.</Hint>
    </Tooltip>
</div>
