header {
    --header-height: 75px;
    
    background-color: var(--layout-background);
    padding: var(--dimension-m) var(--dimension-xxl);
    height: var(--header-height);
    width: calc(100% - 80px - 100px);
    display: flex;
    align-items: center;
    position: sticky;
    margin: 30px 40px;
    z-index: 90;
    border-radius: calc(var(--header-height) / 2);
    box-shadow: var(--component-shadow);
    
    & svg {
        fill: var(--gray-light-color);
    }
    
    & .header__actions {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: var(--dimension-xxl);
    }

    & .header__logo {
        margin: 0 var(--dimension-s);
        cursor: pointer;
        
        svg {
            width: 120px;
            height: fit-content;
        }
    }
}