@page "/calculator/dichotomy"

@if (Result is not null)
{
    <p>Result to "x + 5 = 0" is:</p>
    <ul>
        <li>IsSuccess: @Result.IsSuccess</li>
        <li>ErrorMessage: @Result.ErrorMessage</li>
        <li>Root: @Result.Root</li>
        <li>Iterations: @Result.Iterations</li>
    </ul>
} 