.auth-layout {
    > main {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.page__auth {
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: var(--dimension-xl);
    width: 100%;
    max-width: 420px;
    padding: var(--dimension-xxl);
    border: var(--default-border);
    border-radius: var(--border-radius-xl);
    box-shadow: var(--component-shadow);
    background-color: var(--layout-background);
    
    &__header {
        display: flex;
        justify-content: space-between;

        .auth-form__logo svg {
            height: 32px;
            max-width: 200px;
            width: fit-content;
        }
    }
    
    & form {
        display: flex;
        flex-direction: column;
        gap: var(--dimension-l);
    }
    
    &__field {
        display: flex;
        flex-direction: column;
        gap: var(--dimension-xs);

        label {
            font-family: var(--font-heading), monospace;
            font-weight: 700;
            font-size: 0.75rem;
            margin-left: var(--dimension-s);
        }

        .validation-message {
            font-size: 0.75rem;
            color: var(--danger-color);
            margin-left: var(--dimension-s);
        }
    }

    & .button--primary {
        width: 100%;
        text-align: center;
        margin-top: var(--dimension-s);
    }

    &__footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 0.85rem;
        color: var(--gray-color);
        gap: var(--dimension-xs);
        
        p {
            margin: 0;
        }

        a {
            color: var(--primary-color);
            font-weight: 700;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
