.page__equation-systems {
    display: flex;
    gap: var(--dimension-xl);
    
    & > * {
        flex: 1;
    }
}

.equation-systems {
    &__form-wrapper {
        display: flex;
        flex-direction: column;
        gap: var(--dimension-xl);
    }

    &__filters-container {
        display: flex;
        flex-direction: row;
        gap: var(--dimension-l);
        align-items: center;
        
        & > * {
            flex: 1;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: var(--dimension-l);
        height: 100%;
    }
}

.equation-systems-result {
    display: flex;
    flex-direction: column;
    gap: var(--dimension-xl);

    &__roots {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--dimension-l);

        span {
            font-family: var(--font-heading), monospace;
            font-size: 1rem;
            font-weight: 700;
            color: var(--primary-color);
            padding: var(--dimension-xs) var(--dimension-m);
            border: var(--default-border);
            border-left: 3px solid var(--primary-color);
            border-radius: var(--border-radius-s);
            background: var(--primary-background);
        }
    }
}
