.page__interpolation {
    display: flex;
    flex-direction: row;
    gap: var(--dimension-xl);
    flex-wrap: nowrap;
    height: 100%;
    overflow: hidden;

    & > * {
        flex: 1;
        min-height: 0;
        min-width: 0;
    }
}

.interpolation {
    &__form-wrapper {
        display: flex;
        flex-direction: column;
        gap: var(--dimension-l);
        overflow: hidden;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: var(--dimension-l);
        flex: 1;
        min-height: 0;
        overflow: hidden;
        padding: var(--dimension-s);

        & > button {
            flex-shrink: 0;
            margin: var(--dimension-m) 0;
        }
    }
}

.interpolation-result {
    display: flex;
    flex-direction: column;
    gap: var(--dimension-l);
    flex: 1;

}
