.page__ode {
    display: flex;
    flex-direction: row;
    gap: var(--dimension-l);
    flex-wrap: nowrap;

    & > * {
        flex: 1;
    }
}

.ode {
    &__form-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--dimension-l);

        @media (--laptop) {
            flex-shrink: 0;
            min-height: fit-content;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: var(--dimension-l);
        padding: 0 var(--dimension-xs);

        & > button {
            margin: var(--dimension-m) 0;
        }
    }
}

.dropdown--picard-order,
.dropdown--picard-order .trigger-button {
    min-width: 120px;
}