.page__optimization {
    display: flex;
    flex-direction: row;
    gap: var(--dimension-l);
    flex-wrap: nowrap;
    height: 100%;
    overflow: hidden;

    & > * {
        flex: 1;
        min-height: 0;
        min-width: 0;

        @media (--laptop) {
            min-height: fit-content;
            flex-shrink: 0;
        }
    }
}

.optimization {
    &__form-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--dimension-l);

        @media (--laptop) {
            min-height: fit-content;
            flex-shrink: 0;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: var(--dimension-l);
        flex: 1;
        min-height: 0;
        overflow: hidden;
        padding: 0 var(--dimension-s);
        
        & > button {
            margin: var(--dimension-m) 0;
        }
    }
}

.optimization-input {
    &__vars-table {
        .node-table__header,
        .node-table__row {
            grid-template-columns: 3rem 1fr 2rem;
        }
    }
}

.optimization-result {
    display: flex;
    flex-direction: column;
    gap: var(--dimension-l);
    flex: 1;

}
