.page__root-finding{
    display: flex;
    flex-direction: row;
    gap:  var(--dimension-xl);
    flex-wrap: nowrap;
    
    & > * {
        flex: 1;
    }
}

.root-finding{
    &__form-wrapper{
        height: 100%;
        display: flex;
        flex-direction: column;
        gap:  var(--dimension-xl);
    }
    
    &__form{
        display: flex;
        flex-direction: column;
        gap: var(--dimension-l);
    }
    
    &__filters-container{
        display: flex;
        flex-direction: row;
        gap:  var(--dimension-l);
        align-items: center;
    }
}

.solution-steps,
.root-finding-result {
    &__container, &__container--empty{
        flex: 1;        
        display: flex;
        align-items: center;
        justify-content: center;
        padding: var(--dimension-m);
        box-shadow:  var(--component-shadow);
        border-radius: var(--border-radius-xl);
    }
    
    &__list{
        flex: 1;
        overflow: auto;
    }
}

.comparison-result__item.marked {
    position: relative;
    
    &::after{
        position: absolute;
        content: '\1F3C6';
        right: var(--dimension-l);
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.25rem;
        color: transparent;
        text-shadow: 0 0 0 var(--primary-color);
    }
}

