.config-form {
    display: flex;
    flex-direction: column;
    gap: var(--dimension-m);

    &__row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--dimension-m);
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: var(--dimension-xs);

    &__label {
        font-weight: 600;
        font-size: 0.9rem;
        color: var(--black-color);
    }

    &__input {
        width: 100%;
    }
}