.page__root-finding{
    display: flex;
    flex-direction: row;
    gap:  var(--dimension-xl);
    flex-wrap: nowrap;
    
    & > * {
        flex-grow: 1;
    }
}

.root-finding{
    
    &__form-wrapper{
        display: flex;
        flex-direction: column;
        gap:  var(--dimension-l);
    }
    
    &__filters-container{
        display: flex;
        flex-direction: row;
        gap:  var(--dimension-l);
        align-items: center;
    }
}

